# Node
node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Logs
logs/
*.log

# OS
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Tailwind
*.css.map

# Misc
*.local

# React
*.cache

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/.env
